body {
	background-color: #f9f9f9;
	font-family: 'Kufam', sans-serif;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.activity-img {
	max-width: 500px;
}

