body {
	background-color: #f9f9f9;
	background: url('https://source.unsplash.com/random/1024x600') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Kufam', sans-serif;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.activity-img {
	max-width: 500px;
}

